:root {
  --raisin-black: #272727;
  --pink: #ff858d;
  --apple: #007aff;
}

html,
body {
  background-color: var(--raisin-black);
  margin: 0;
  padding: 0;
}

body {
  height: min(800px, 100vh);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#container {
  height: max(80%, 600px);
  position: relative;
  /* background-color: var(--pink); */
  aspect-ratio: 9 / 16;
}

.product {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #007aff;
  user-select: none;
}
